
/*{
 margin: 0px;
 padding: 0px;
}*/
#wrapper{
 width: auto;
 background-color: silver;
 margin:auto;
}
#header{
 height: 150px;
 width: auto;
 background-color: green;
 margin: 10px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin: 10px;
 display: inline-block;

}
#main_content{
 height: 400px;
 width: 790px;
 background-color: red;
 margin-top:10px;
 margin-left: 10px;
 vertical-align: top;
 display: inline-block;


 }
.subcontents{
 height: 200px;
 width: 233px;
 background-color: yellow;
 margin: 10px;
 text-align: center;
text-indent: inherit;
 display: inline-block;
}
#advertisement{
 height: 130px;
 width: 750px;
 background-color: purple;
 margin: 10px;
 display: inline-block;
 text-align: center;

}
